body {
  margin: auto;
  min-width: 800px;
  max-width: 1300px;
}

#userGreeting {
  width: 100%;
  text-align: center;
  font-size: 18pt;
  padding: 10px 0px;
  background-color: lightsalmon;
  font-weight: bold;
  border-top-width: 0;
  box-sizing: border-box;
}

#projectTitle {
  text-align: center;
  background-color: lightseagreen;
  padding: 15px;
  margin: 0;
  border-top-width: 0;
  font-size: 24pt;
}

footer {
  margin-top: 20px;
}