body {
  margin: auto;
  min-width: 800px;
  max-width: 1300px;
}

#userGreeting {
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  border-top-width: 0;
  box-sizing: border-box;
  background-color: lightsalmon;
}

#projectTitle {
  text-align: center;
  background-color: lightseagreen;
  padding: 15px;
  margin: 0;
  border-top-width: 0;
  font-size: 20pt;
}